<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <title>ProStats - Edit Repo</title>
    <link rel="shortcut icon" href="../static/images/icon.ico" >
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/forms.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css" />
  </head>

  <body>
    <header>
      <div class="logo"><span>ProStats</span></div>
      <div class="links">
	<ul>
          <li class="active"><a href="{{ url_for('app_views.repos') }}">Repos</a></li>
	  <li><a href="{{ url_for('app_views.logout') }}">Logout</a></li>
        </ul>
      </div>
    </header>

    <section>
      <h2>Add New Repository</h2>
      <div id="add">
        <div class="form">
          {% if data %}
          <form id="signup" action="{{ url_for('app_views.addRepo') }}" method="post">
            <label for="projectName">Project Name:</label>
	    <input type="text" id="projectName" name="name" value="{{ data['name'] }}" />

            <label for="repositoryOwner">Repository Owner:</label>
	    <input type="text" id="repositoryOwner" name="owner" value="{{ data['owner'] }}" />

            <label for="githubLink">GitHub Repo Link:</label>
	    <input type="text" id="githubLink" name="link" value="{{ data['link'] }}" />

            <span class="radio">
            {% if data['privacy'] == "public" %}
              <input type="radio" id="public" name="privacy" value="public" checked />
              <label for="public">Public</label>
	      <input type="radio" id="private" name="privacy" value="private" />
              <label for="private">Private</label>
	    {% else %}
              <input type="radio" id="public" name="privacy" value="public" />
              <label for="public">Public</label>
	      <input type="radio" id="private" name="privacy" value="private" checked />
              <label for="private">Private</label>
            {% endif %}
            </span>

            <label for="pat">Personal Access Token:</label>
	    <input type="text" id="pat" name="pat" value="{{ data['pat'] }}" />

            <span>
              <button type="submit">Save</button>
              <button class="btn-cancel" type="cancel">Cancel</button>
            </span>
          </form>
	  {% else %}
	  <form id="signup" action="{{ url_for('app_views.addRepo') }}" method="post">                                              <label for="projectName">Project Name:</label>
            <input type="text" id="projectName" name="name" />
	    <label for="repositoryOwner">Repository Owner:</label>
	    <input type="text" id="repositoryOwner" name="owner" />
	    <label for="githubLink">GitHub Repo Link:</label>
            <input type="text" id="githubLink" name="link" />

            <span class="radio">
              <input type="radio" id="public" name="privacy" value="public" />
              <label for="public">Public</label>
              <input type="radio" id="private" name="privacy" value="private" checked />
              <label for="private">Private</label>
            </span>

            <label for="pat">Personal Access Token:</label>
            <input type="text" id="pat" name="pat" />

            <span>
              <button type="submit">Save</button>
              <button class="btn-cancel" type="cancel">Cancel</button>
            </span>
          </form>
	  {% endif %}
	</div>

        <div class="note">
          <h3>Note</h3>
          <p>A <b>Personal Access Token(PAT)</b> is required to access private repositories and some information. We will not share your Personal Access Token with third-parties.</p>
        </div>
      </div>
    </section>

    <footer>
      <div id="logo"><span>ProStats</span></div>
      <a href="{{ url_for('app_views.logout') }}">Logout</a>
    </footer>
  </body>
</html>
