<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <title>ProStats - Stats</title>
    <link rel="shortcut icon" href="images/icon.ico" >
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/home.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css" />
  </head>

  <body>
    <header>
      <div class="logo"><span>ProStats</span></div>
      <div class="links">
        <ul>
          <li><a href="{{ url_for('app_views.login') }}">Login</a></li>
	  <li><a href="{{ url_for('app_views.create_user') }}">Sign Up</a></li>
        </ul>
      </div>
    </header>

    <section id="cover">
      <div class="">
		<h2>Visualize your Project's</h2>
		<h1>Growth</h1>
		<p>Connect your project's GitHub repository and lets create a visualization of activities on repository at the click on a button</p>
		<a href="{{ url_for('app_views.create_user') }}">Get Started</a>
	  </div>
    </section>
	
	<section>
	  <div class="container">
	    <div class="intro">
	      <h2>Welcome to ProStats</h2>
		  <p>Are you looking for a better way to understand your GitHub repository's activities? My project, developed as part of the ALX Africa Software Engineering Program, aims to provide enhanced visualizations that go beyond GitHub's basic bar charts. Dive into detailed commit histories, track code contributions over time, and gain deeper insights into your project's progress. Let's transform how you see and interact with your GitHub data!</p>
		</div>
	  </div>
	</section>
	
	<section id="feats">
	  <div class="container">
	    <h2>Features</h2>
		<div class="feat">
		  <div class="item">
		    <img src="../static/images/multi.jpg" />
			<h4>Multiple Repos</h4>
			<p>Add more than one repositoy and quickly scroll through a list of repositories.</p>
		  </div>
		  
		  <div class="item">
		    <img src="../static/images/change.jpg" />
			<h4>Make Changes</h4>
			<p>Easily make changes to the repositories in the list by edit or deleting a repository from the list.</p>
		  </div>
		  
		  <div class="item">
		    <img src="../static/images/visual.jpg" />
			<h4>Visuaization</h4>
			<p>Generate a visualization of a repository's activities at the click of a button.</p>
		  </div>
		</div>
	  </div>
	</section>
	
	<section id="about">
	  <div class="container">
	    <h2>About</h2>
	    <div>
	      <p>Welcome to my ALX Africa Software Engineering Program portfolio project! This project is inspired by the need to better visualize activities on GitHub repositories beyond the basic bar charts provided by GitHub. My goal is to create a more intuitive and comprehensive way to display repository activities, helping developers and contributors gain deeper insights into their work.</p>
		  <p>GitHub’s current visualization options are limited, typically showing only the number of commits per contributor in a bar chart format. While this is helpful, it doesn't fully capture the breadth and depth of repository activities. This project aims to bridge this gap by offering enhanced visual representations that can include detailed commit histories, code contributions over time, and other relevant metrics.</p>
		  <p>Through this project, I aim to empower developers with the tools they need to better understand their codebase, track progress, and foster collaboration. I believe that by visualizing data more effectively, developers can make more informed decisions, identify patterns, and celebrate their achievements.</p>
		  <p>Thank you for visiting my project! I hope you find it as exciting and useful as I do.</p>
		  <a href="https://github.com/StarCodes2/ProStats" target="_blank">Project GitHub Repository</a>
		  <h3>Developer</h3>
		  <div class="dev">
		    <span>
		      <img src="../static/images/dev.jpg" />
		      <h4>Ogunewu Ezekiel Anu</h4>
			  <h5>Full Stack Developer</h5>
			  <p></p>
		    </span>
			<ul class="social">
			  <li class="linked"><a href="https://www.linkedin.com/in/ezekiel-ogunewu/" target="_blank"></a></li>
			  <li class="github"><a href="https://github.com/StarCodes2" target="_blank"></a></li>
			  <li class="twitter"><a href="https://x.com/Star_Codes" target="_blank"></a></li>
			</ul>
		  </div>
	    </div>
	  </div>
	</section>

    <footer>
      <div id="logo"><span>ProStats</span></div>
      <a href="{{ url_for('app_views.create_user') }}">Get Started</a>
    </footer>
  </body>
</html>
