<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <title>ProStats - Repos</title>
    <link rel="shortcut icon" href="../static/images/icon.ico" >
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/repo.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css" />
  </head>

  <body>
    <header>
      <div class="logo"><span>ProStats</span></div>
      <div class="links">
	<ul>
          <li class="active"><a href="{{ url_for('app_views.repos') }}">Repos</a></li>
	  <li><a href="{{ url_for('app_views.logout') }}">Logout</a></li>
        </ul>
      </div>
    </header>

    <section>
      <div class="sec_header">
        <h2>Repositories</h2>
        <span>
          <a href="{{ url_for('app_views.addRepo') }}">Add New</a>
        </span>
      </div>
	  
      <div class="repos">
      {% if repos %}
        {% for repo in repos.values() %}
	<div class="repo">
          <div class="title">
            <h4>{{ repo.name }}</h4>
            <span>
              <a href="{{ url_for('app_views.editRepo', repo_id=repo['id']) }}">Edit</a>
	      <a href="{{ url_for('app_views.deleteRepo', repo_id=repo['id']) }}">Delete</a>
            </span>
          </div>
          <div class="info">
            <span><b>Owner:</b> {{ repo['owner'] }}</span>
	    <span><b>Commits:</b> {{ repo['total_commits'] }}</span>
            <span><b>Pull Request:</b> {{ repo['total_pull'] }}</span>
          </div>
          <div class="show_stat">
            <a href="{{ url_for('app_views.stats', repo_id=repo['id']) }}">Stats</a>
          </div>
        </div>
	{% endfor %}
      {% else %}
        <h4>Add your first project</h4>
      {% endif %}
      </div>
    </section>

    <footer>
      <div id="logo"><span>ProStats</span></div>
      <a href="{{ url_for('app_views.logout') }}">Logout</a>
    </footer>
  </body>
</html>
