<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <title>ProStats - Stats</title>
    <link rel="shortcut icon" href="../static/images/icon.ico" >
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="../static/scripts/charts.js"></script>
  </head>

  <body>
    <header>
      <div class="logo"><span>ProStats</span></div>
      <div class="links">
	    <ul>
          <li><a href="{{ url_for('app_views.repos') }}">Repos</a></li>
          <li class="active"><a href="#">Stats</a></li>
	  <li><a href="{{ url_for('app_views.logout') }}">Logout</a></li>
        </ul>
      </div>
    </header>

    <section>
      <div class="gen_stat">
        <ul>
          <li>Contributors: <span>{{ data['total_c'] }}</span></li>
	  <li>Commits: <span>{{ data['commits'] }}</span></li>
	  <li>Pull Rrequests: <span>{{ data['pull'] }}</span></li>
	  <li>Issues: <span>{{ data['total_issues'] }}<span></li>
        </ul>

        <ul>
          <li><h3>Top 5 Collaborators</h3></li>
          {% if data %}
            {% for name in data['names'] %}
              {% if name != "others" %}
          <li>{{ name }}</li>
              {% endif %}
            {% endfor %}
          {% else %}
          <li>No Contributors</li>
          {% endif %}
        </ul>
      </div>
      <div class="gen-chart">
        <div class="charts-container">
          <div class="chart doughNut">
            <canvas id="genDoughChart"></canvas>
          </div>

          <div class="chart line">
            <canvas id="genLineChart"></canvas>
          </div>
        </div>
      </div>

      <div class="time-chart">
        <h4>Last 7 days</h4>
        <div class="charts-container">
          <div class="chart">
            <canvas id="dailyCommit"></canvas>
          </div>

          <div class="chart">
            <canvas id="dailyIssues"></canvas>
          </div>
        </div>
      </div>

      <div class="time-chart">
        <h4>Last 8 weeks</h4>
        <div class="charts-container">
          <div class="chart">
            <canvas id="weeklyCommit"></canvas>
          </div>

          <div class="chart">
            <canvas id="weeklyIssues"></canvas>
          </div>
        </div>
      </div>

      <div class="time-chart">
        <h4>Last 12 months</h4>
        <div class="charts-container">
          <div class="chart">
            <canvas id="w52Commit"></canvas>
          </div>

          <div class="chart">
            <canvas id="w52Issues"></canvas>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div id="logo"><span>ProStats</span></div>
      <a href="{{ url_for('app_views.logout') }}">Logout</a>
    </footer>

    <script>
      // Contributors Doughnut chart and total commits Line chart
      {% if top_c %}
      const t = JSON.parse({{ top_c|tojson }});
      var labels = t['names'];
      var data = t['commits'];
      {% else %}
      var labels = [];
      var data = [];
      {% endif %}
      var label = 'Total Contributions';
      var genDoughChart = doughnutChart(labels, label, data, $('#genDoughChart'));

      {% if all_time %}
      const all = JSON.parse({{ all_time|tojson }});
      labels = all['dates'];
      data = all['commits'];
      {% endif %}
      label = 'Total No of Commits';
      var genLineChart = lineChart(labels, label, data, $('#genLineChart'));

      // Commits for last 7 days
      {% if week %}
      const all_week = JSON.parse({{ week|tojson }});
      labels = all_week['dates'];
      data = all_week['commits'];
      {% endif %}
      label = 'Daily Commits';
      var dailyCommit = lineChart(labels, label, data, $('#dailyCommit'));

      // Issues for last 7 days
      {% if d_issues %}
      const all_week_i = JSON.parse({{ d_issues|tojson }});
      labels = all_week_i['dates'];
      data = [all_week_i['closed'], all_week_i['open']];
      {% endif %}
      label = ['closed issues', 'open issues'];
      var dailyIssues = barChart(labels, label, data, $('#dailyIssues'));

      // Commits for last 8 weeks
      {% if w_commits %}
      const weekly_c = JSON.parse({{ w_commits|tojson }});
      labels = weekly_c['dates'];
      data = weekly_c['commits'];
      {% endif %}
      label = 'Weekly Commits';
      var weeklyCommit = lineChart(labels, label, data, $('#weeklyCommit'));

      // Issues for last 8 weeks
      {% if w_issues %}
      const weekly_i = JSON.parse({{ w_issues|tojson }});
      labels = weekly_i['dates'];
      data = [weekly_i['closed'], weekly_i['open']];
      {% endif %}
      label = ['closed issues', 'open issues'];
      var weeklyIssues = barChart(labels, label, data, $('#weeklyIssues'));

      // Commits for last 52 weeks
      {% if w52_commits %}
      const w52_c = JSON.parse({{ w52_commits|tojson }});
      labels = w52_c['dates'];
      data = w52_c['commits'];
      {% endif %}
      label = 'Weekly Commits';
      var w52Commit = lineChart(labels, label, data, $('#w52Commit'));

      // Issues for last 52 weeks
      {% if w52_issues %}
      const w52_i = JSON.parse({{ w52_issues|tojson }});
      labels = w52_i['dates'];
      data = [w52_i['closed'], w52_i['open']];
      {% endif %}
      label = ['closed issues', 'open issues'];
      var w52Issues = barChart(labels, label, data, $('#w52Issues'));
    </script>
  </body>
</html>
