<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <title>ProStats - Login</title>
    <link rel="shortcut icon" href="../static/images/icon.ico" >
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/forms.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css" />
  </head>

  <body>
    <header>
      <div class="logo"><span>ProStats</span></div>
      <div class="links">
	    <ul>
          <li><a href="signup.html">Sign Up</a></li>
        </ul>
      </div>
    </header>

    <section>
      <div class="form">
        <h3>Login</h3>
	<form id="login">
	  <input type="text" name="email" placeholder="Email" />
	  <input type="password" name="password" placeholder="Password" />
	  <a href="">Forget password?</a>
          <button type="submit">Login</button>
	</form>
      </div>
    </section>

    <footer>
      <div id="logo"><span>ProStats</span></div>
      <a href="signup.html">Sign Up</a>
    </footer>
  </body>
</html>
