<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <title>ProStats - Sign Up</title>
    <link rel="shortcut icon" href="../static/images/icon.ico" >
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/forms.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css" />
  </head>

  <body>
    <header>
      <div class="logo"><span>ProStats</span></div>
      <div class="links">
	    <ul>
          <li><a href="login.html">Login</a></li>
        </ul>
      </div>
    </header>

    <section>
      <div class="form">
	    <h3>Sign Up</h3>
	    <form id="signup">
		  <input type="text" name="firstname" placeholder="Firstname" />
		  <input type="text" name="lastname" placeholder="Lastname" />
		  <input type="text" name="email" placeholder="Email" />
		  <input type="password" name="password" placeholder="Password" />
		  <a href="">Already registered?</a>
		  <button type="submit">Sign Up</button>
		</form>
	  </div>
    </section>

    <footer>
      <div id="logo"><span>ProStats</span></div>
      <a href="login.html">Login</a>
    </footer>
  </body>
</html>
