body {
	width: 100%;
	margin: 0;
	padding:0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

div {
	margin: 0;
	padding: 0;
}

section {
	margin: 0 10%;
	padding: 30px 20px;
}

section h2, section h3 {
	color: #336799;
}

/* gen stat */
section .gen_stat {
	font-weight: 600;
	margin: 0 0 10px 0;
}

section .gen_stat ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	margin: 0 5%;
	margin: 0 5%;
}

section .gen_stat ul span {
	color: #FF0002;
}

section .gen_stat ul li {
	display: inline;
	font-size: 16px;
}

section .gen_stat ul li h3 {
	padding: 0;
	margin: 5px 0;
}

/* Charts */
section .gen-chart {
	margin: 20px 0 50px 0;
}

section .time-chart {
	margin: 40px 0;
}

section .time-chart h4 {
	margin: 0;
}

section .gen-chart .charts-container,
section .time-chart .charts-container {
	display: flex;
	flex-wrap: wrap;
	gap: 4%;
}

section .time-chart .charts-container .chart {
	flex: 0 0 48%;
}

section .gen-chart .charts-container .doughNut {
	flex: 0 0 32%;
}

section .gen-chart .charts-container .line {
	flex: 0 0 64%;
}

@media(max-width: 800px) {
	section .gen_stat ul li {
		font-size: 12px;
	}

	section .gen-chart .charts-container,
	section .time-chart .charts-container {
		flex-direction: column;
		gap: 0;
	}
	section .gen-chart .charts-container .doughNut,
	section .gen-chart .charts-container .line,
	section .time-chart .charts-container .chart {
		flex: 0 0 100%;
	margin-bottom: 10px;
	}
}